.create-album-popup__container {
    width: 100%;
    max-width: 600px;
    margin: 16px;
    background-color: var(--bg-body);
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.create-album-popup__close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}